.address-main-container {
    overflow: auto;
    height: calc(100vh - 70px);
}

.address-main-page {
    padding: 20px;
    height: calc(100vh - 70px);
}

.address-page {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
}

.your-address {
    margin-left: 20%;
}

.address-add-page {
    display: flex;
    flex-direction: column;
    width: 58%;
    padding: 5px 1%;
    margin-left: 20%;
    gap: 15px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    .add-address-h2 {
        margin: 0px;
    }

    .contact-details {
        display: flex;
        justify-content: space-between;
        row-gap: 10px;
        flex-wrap: wrap;
    }

    .address-field {
        display: flex;
        flex-direction: column;
        gap: 10px;

        textarea {
            height: 50px;
        }

        input {
            height: 30px;
        }
    }

    .add-btn {
        display: flex;
        width: 100px;
        height: 30px;
        color: white;
        align-self: center;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: #333;
        cursor: pointer;
    }
}

.address-item {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;

    .address-div {
        display: flex;
        flex-direction: column;

        .name {
            font-weight: 500;
            margin-bottom: 5px;
            font-size: 18px;
        }

        span {
            font-size: 14px;
        }

        .address-field{
            max-width: 500px;
        }
    }

    .action-btns-div {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        height: 100%;
        gap: 20px;

        button {
            height: 30px;
            color: white;
            border-radius: 5px;
            background-color: #333;
            cursor: pointer;
        }
    }

}