.checkoutPage-main-container {
  overflow: auto;
  height: calc(100vh - 70px);
}

.checkout-main-page {
  display: flex;
  padding: 20px;
  min-height: calc(100vh - 70px);
  justify-content: space-between;
  flex-wrap: wrap;

  .toggle-details {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
  }

  .order-summary {
    width: 25%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .order-label {
      margin-top: 0px;
    }

    .sub-total-field,
    .shipping-field,
    .tax-field,
    .total-field {
      display: flex;
      justify-content: space-between;
    }

    .shipping-value {
      color: #388e3c;
    }
  }

  .continue-btn {
    display: flex;
    width: 100px;
    height: 30px;
    color: white;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #333;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: default;
    }
  }

  .place-order-btn {
    width: 100%;
    font-size: 18px;
    height: 40px;
  }

  .shipping-accordion-div {
    display: flex;
    justify-content: center;

    .address-list {
      min-width: 80%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .address-item {
      padding: 1%;
    }

    .radio-div {
      display: flex;
      align-items: center;
    }

    .address-item .address-div {
      width: 70%;
    }

    .add-address-h2-link {
      display: flex;
      margin: 0px;
      margin-top: -20px;
      gap: 10px;
      padding-left: 10px;
      color: rgb(0, 123, 255);
      cursor: pointer;

      .add-address-h2 {}
    }



    .add-btn.checkout-add-btn {
      width: auto;
    }

    .add-new-address-h2 {
      margin: 0px;
    }
  }

  .payment-main-div {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
  }

  .cart-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .payment-options-item {
    display: flex;

    .option-div {
      display: flex;
      gap: 15px;
    }

  }


  .address-page {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 0px;

    .address-item {
      display: flex;
      flex-direction: row;
      width: 98%;
    }
  }

  .address-add-page {
    width: auto;
    margin-left: 0px;

    .radio-main-div {
      display: flex;
    }

    .add-new-address-div {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      .contact-details {
        gap: 10px;
      }
    }
  }
}



// media queries for different resolutions
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .checkout-main-page {
    display: flex;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {


  .checkout-main-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .shipping-accordion-div .address-list {
      width: 100%;
    }

    .cart-page {
      flex-direction: column;
      width: 100%;
      margin-left: 0px;
    }

    .order-summary {
      width: 50%
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .checkout-main-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .shipping-accordion-div .address-list {
      width: 100%;
    }

    .cart-page {
      flex-direction: column;
      width: 100%;
      margin-left: 0px;
    }

    .order-summary {
      width: 50%
    }
  }
}

@media only screen and (max-width: 600px) {
  .checkout-main-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .shipping-accordion-div .address-list {
      width: 100%;
    }

    .cart-page {
      flex-direction: column;
      width: 100%;
      margin-left: 0px;
    }

    .toggle-details {
      width: 100%;
    }

    .order-summary {
      width: 100%
    }
  }
}