.checkoutPage-main-container {
  overflow: auto;
  height: calc(100vh - 70px);
}

.checkout-main-page {
  display: flex;
  padding: 20px;
  height: calc(100vh - 70px);

  .toggle-details {
    display: flex;
    flex-direction: column;
    width: 75%;
  }

  .order-summary {
    width: 25%;
  }
}